
body{
    color: #191414 ;
    padding-bottom: 75px;
}
p{
    text-align: left;
}
h1 {
    font-weight: 600;
}
h2,
h3,
h4 {
    text-align: left;
    margin: 20px 0 10px 0;
    width: 100%;
    font-weight: 600;
}

.container {
    max-width: 70%;
}
.jumbotron {
    background-color: #fff;
}
.main-container {
    margin: 0 auto;
    padding: 0 20%;
}

.next-step {
    margin: 50px 0;
}
.btn-black {
    background-color: black;
    color: white;
    margin: 20px auto 0;
    text-align: center;
}
.btn-black:hover,
.btn-black:focus{
    background-color: white;
    color: black;
    border: 1px solid black;

}

/* transition stuff */
.appear-enter {
    transition-duration: .7s;
    transition-property: all;
    transition-timing-function: ease-out;
    opacity: 0;
}

.appear-enter.appear-enter-active {
    opacity: 1;
}

.appear-leave {
    opacity: 0;
}

.slide-enter {
    transition-duration: .7s;
    transition-property: all;
    transition-timing-function: ease-out;
    transform: translate(0, 100%);
}

.slide-enter.slide-enter-active {
    transform: translate(0, 0);
}

.slide-leave {
    transform: translate(0, -100%);

}
