
body{
    color: #191414 ;
    padding-bottom: 75px;
    font-size: 1em;
    font-family: 'Droid Serif', sans-serif;
}

p{
    text-align: left;
    font-size: 2em;
}
h1 {
    font-weight: 600;
    font-size: 60px;
}
h2
{
    font-weight: 600;
    font-size: 39px;
}
h3,
h4 {
    font-size: 32px;
    text-align: left;
    margin: 20px 0 10px 0;
    width: 100%;
    font-weight: 600;
}
kbd {
    white-space: nowrap;
}
kbd.is-command {
    display: block;
    white-space: nowrap;
    padding: 5px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.4), 0 0 0 1px rgba(0,0,0,0.12);
    width: 90%;
    margin: 15px auto;
}

.lead {
    text-align: center;
}
.container {
    max-width: 70%;
}
.jumbotron {
    background-color: #fff;
}
.float-right {
    float: right;
}

.float-left{
    float: left;
}
.flex {
    display: flex;
}
.next-step {
    margin: 50px 0;
}
.btn-black {
    background-color: #191414;
    color: white;
    margin: 20px auto 0;
    text-align: center;
}
.btn-black:hover,
.btn-black:focus{
    background-color: white;
    color: #191414;
    border: 0px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.4), 0 0 0 1px rgba(0,0,0,0.12);
    transition-duration: .7s;
    transition-property: all;
}
.btn-first {
    width: 300px;
    padding: 5px 10px;
}
.left-margin {
    padding: 10px 100px;

    display: block;
}

/* transition stuff */
.appear-enter {
    transition-duration: .7s;
    transition-property: all;
    transition-timing-function: ease-out;
    opacity: 0;
}

.appear-enter.appear-enter-active {
    opacity: 1;
}

.appear-leave {
    opacity: 0;
}

.slide-enter {
    transition-duration: .7s;
    transition-property: all;
    transition-timing-function: ease-out;
    transform: translate(0, 100%);
}

.slide-enter.slide-enter-active {
    transform: translate(0, 0);
}

.slide-leave {
    opacity: 0;

}

    .main-container{
        margin: 0 auto;
        max-width: 90%;
    }
